{%- assign for_drawer = true -%}

{%- if template == 'cart' or template == 'cart.ajax' -%}
  {%- assign for_drawer = false -%}
{%- endif -%}

<div class="Cart__ItemList">
  {%- unless for_drawer -%}
    <div class="Cart__Head hidden-phone">
      <span class="Cart__HeadItem Heading Text--subdued u-h7">{{ 'cart.items.product' | t }}</span>
      <span class="Cart__HeadItem"></span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: center">{{ 'cart.items.quantity' | t }}</span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: right">{{ 'cart.items.total' | t }}</span>
    </div>
  {%- endunless -%}

  {%- for line_item in cart.items -%}
    {%- if for_drawer -%}
      <div class="CartItemWrapper">
    {%- endif -%}

    <div class="CartItem">
      <div class="CartItem__ImageWrapper AspectRatio">
        <div class="AspectRatio" style="--aspect-ratio: {{ line_item.image.aspect_ratio }}">
          <img class="CartItem__Image" src="{{ line_item.image | img_url: '240x' }}" alt="{{ line_item.image.alt | escape }}">
        </div>
      </div>

      <div class="CartItem__Info">
        <h2 class="CartItem__Title Heading">
          {% comment %} @DO - Setup Fee shouldn't link to a product. {% endcomment %}
          {% if line_item.product.title == "CUSTOM WICKS SETUP FEE" %}
            <span data-property="{{ line_item.properties['_custom-wick-bundle'] }}" data-line-item-qty="{{ line_item.quantity }}" data-variant-id=" {{ line_item.variant.id }}" data-line-item-index="{{ forloop.index0 }}">{{ line_item.product.title }}</span>
          {% else %}
            <a href="{{ line_item.url }}">{{ line_item.product.title }}</a>
          {%endif %}
        </h2>

        <div class="CartItem__Meta Heading Text--subdued">
          {%- unless line_item.product.has_only_default_variant -%}
            <p class="CartItem__Variant">{{ line_item.variant.title | downcase }}</p>
          {%- endunless -%}

          {%- if line_item.properties != empty -%}
            <ul class="CartItem__PropertyList">
              {%- for property in line_item.properties -%}
            
                {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

                {%- if property.last == blank or first_character_in_key == '_' -%}
                  {%- continue -%}
                {%- endif -%}

                <li class="CartItem__Property">{{ property.first }}: {{ property.last }}</li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          <div class="CartItem__PriceList">
            {%- if line_item.original_price != line_item.final_price -%}
              <span class="CartItem__Price Price Price--highlight">{{ line_item.final_price | money_without_trailing_zeros }}</span>
              <span class="CartItem__OriginalPrice Price Price--compareAt">{{ line_item.original_price | money_without_trailing_zeros }}</span>
            {%- else -%}
              <span class="CartItem__Price Price">{{ line_item.final_price | money_without_trailing_zeros }}</span>
            {%- endif -%}

            {%- if line_item.line_level_discount_allocations != blank -%}
              <ul class="CartItem__DiscountList">
                {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                  <li class="CartItem__Discount">
                    {%- render 'icon' with 'sale' -%}{{ discount_allocation.discount_application.title }}: -{{ discount_allocation.amount | money }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          {%- if line_item.unit_price_measurement -%}
            <div class="CartItem__UnitPriceMeasurement">
              <div class="UnitPriceMeasurement Heading Text--subdued">
                <span class="UnitPriceMeasurement__Price">{{ line_item.unit_price | money_without_trailing_zeros }}</span>
                <span class="UnitPriceMeasurement__Separator">/ </span>

                {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                  <span class="UnitPriceMeasurement__ReferenceValue">{{ line_item.unit_price_measurement.reference_value }}</span>
                {%- endif -%}

                <span class="UnitPriceMeasurement__ReferenceUnit">{{ line_item.unit_price_measurement.reference_unit }}</span>
              </div>
            </div>
          {%- endif -%}
        </div>

        {%- capture item_actions -%}
          {% comment %} @DO - Custom wicks or Ready-made wicks bundle products (Including clips and fee) shouldn't display Quantity Selectors. {% endcomment %}
          {% if line_item.properties['_custom-wick-bundle'] %}
            <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
              <div class="CartItem__QuantitySelector">
                <div class="QuantitySelector CustomWicks__QuantitySelector">
                  <span class="QuantitySelector__CurrentQuantity CustomWicks__Quantity"
                  data-variant-id=" {{ line_item.variant.id }}"
                  data-line-item-index="{{ forloop.index0 }}">{{ line_item.quantity }}</span>
                </div>
              </div>

              <a href="{{ routes.cart_change_url }}?quantity=0&id={{ line_item.key }}" class="CartItem__Remove Link Link--underlineShort" data-quantity="0" data-line-id="{{ line_item.key }}" data-action="remove-item" data-line-item-qty="{{ line_item.quantity }}" data-variant-id=" {{ line_item.variant.id }}"  data-line-item-index="{{ forloop.index0 }}" data-property="{{ line_item.properties['_custom-wick-bundle'] }}">{{ 'cart.items.remove' | t }}</a>
            </div>
          {% else %}
            <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
              <div class="CartItem__QuantitySelector">
                <div class="QuantitySelector">
                  {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

                  <a class="QuantitySelector__Button Link Link--primary"
                    title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_minus_one }}"
                    href="{{ routes.cart_change_url }}?quantity={{ quantity_minus_one }}&id={{ line_item.key }}"
                    data-quantity="{{ quantity_minus_one }}"
                    data-line-id="{{ line_item.key }}"
                    data-action="update-item-quantity"
                    data-variant-id=" {{ line_item.variant.id }}"
                    data-line-item-index="{{ forloop.index0 }}">
                    {%- render 'icon' with 'minus' -%}
                  </a>

                  <input type="text" name="updates[]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity item" pattern="[0-9]*" data-line-id="{{ line_item.key }}" value="{{ line_item.quantity }}" data-variant-id=" {{ line_item.variant.id }}" data-line-item-quantity="{{line_item.quantity}}" "{{ line_item.variant.id }}"  data-line-item-index="{{ forloop.index0 }}">

                  {%- assign quantity_plus_one = line_item.quantity | plus: 1 -%}

                  <a class="QuantitySelector__Button Link Link--primary"
                  title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_plus_one }}"
                  href="{{ routes.cart_change_url }}?quantity={{ quantity_plus_one }}&id={{ line_item.key }}"
                  data-quantity="{{ quantity_plus_one }}"
                  data-line-id="{{ line_item.key }}"
                  data-action="update-item-quantity"
                  data-variant-id=" {{ line_item.variant.id }}"
                  data-line-item-index="{{ forloop.index0 }}">
                    {%- render 'icon' with 'plus' -%}
                  </a>
                </div>
              </div>

              <a href="{{ routes.cart_change_url }}?quantity=0&id={{ line_item.key }}" class="CartItem__Remove Link" data-quantity="0" data-line-id="{{ line_item.key }}" data-action="remove-item"  data-variant-id=" {{ line_item.variant.id }}"  data-line-item-index="{{ forloop.index0 }}">{{ 'cart.items.remove' | t }}</a>
            </div>
          {% endif %}
        {%- endcapture -%}

        {%- if for_drawer -%}
          {% if line_item.product.title == "CUSTOM WICKS SETUP FEE" %}
            {{ line_item.quantity }}
          {% else %}
            {{ item_actions }}
          {% endif %}
        {% endif %}
      </div>

      {%- unless for_drawer -%}
        {{ item_actions }}

        <div class="CartItem__LinePriceList Heading Text--subdued" style="text-align: right">
          {%- if line_item.original_line_price != line_item.final_line_price -%}
            <span class="CartItem__Price Price Price--highlight">{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
            <span class="CartItem__Price Price Price--compareAt">{{ line_item.original_line_price | money_without_trailing_zeros }}</span>
          {%- else -%}
            <span class="CartItem__Price Price">{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
          {%- endif -%}
        </div>
      {%- endunless -%}
    </div>

    {%- if for_drawer -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
  <div data-rebuy-id="2202"></div>
</div>

<style>
.CustomWicks__QuantitySelector {
  min-height: 40px;
}

.CustomWicks__Quantity {
  font-family:  "Avenir Book", sans-serif;
  font-weight: 300;
  width: auto;
  padding: 7px 14px 8px 14px;
  color: rgb(119, 119, 119);
  line-height: normal;
  border-radius: 0;
}
</style>

<script>
   document.addEventListener("rebuy.ready", function(e) { 
       window.Rebuy.libraries.$( document ).ready(function() {
          setTimeout(function(){ window.Rebuy.init(); }, 1500);
      }); 
  });

 document.addEventListener("rebuy.add", function(e) { 
   	  document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
       bubbles: true
     }));
  });
</script>
