
{% assign count = count | plus: 1 %}
{%- assign downcased_link_title = link.title | downcase | strip -%}
{%- assign use_mega_menu = false -%}

{%- capture menu_item_dropdown -%}
  {%- if mega_menu_names contains downcased_link_title -%}
    {%- for block in section.blocks -%}
      {%- assign downcased_mega_menu_name = block.settings.navigation_mega_menu | downcase -%}

      {%- if downcased_mega_menu_name != downcased_link_title -%}
        {%- continue -%}
      {%- endif -%}

      {%- assign use_mega_menu = true -%}
      {%- assign push_image_count = 0 -%}

    {% comment %} 
    /////////////////////////////////////////////////////////////
    @DO - create an array of Mega Menu submenu titles & linklists
    /////////////////////////////////////////////////////////////
    {% endcomment %}
      
      {%- capture submenu_items -%}
        {%- if block.settings.mega_menu_submenu_title_1 -%}
          {%- if block.settings.mega_menu_submenu_title_header_1.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_1 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_1 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_1 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_1 -%}
            {{ block.settings.mega_menu_submenu_linklist_1 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_2 -%}
          {%- if block.settings.mega_menu_submenu_title_header_2.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_2 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_2 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_2 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_2 -%}
            {{ block.settings.mega_menu_submenu_linklist_2 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_3 -%}
          {%- if block.settings.mega_menu_submenu_title_header_3.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_3 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_3 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_3 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_3 -%}
            {{ block.settings.mega_menu_submenu_linklist_3 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_4 -%}
          {%- if block.settings.mega_menu_submenu_title_header_4.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_4 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_4 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_4 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_4 -%}
            {{ block.settings.mega_menu_submenu_linklist_4 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_5 -%}
          {%- if block.settings.mega_menu_submenu_title_header_5.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_5 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_5 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_5 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_5 -%}
            {{ block.settings.mega_menu_submenu_linklist_5 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_6 -%}
          {%- if block.settings.mega_menu_submenu_title_header_6.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_6 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_6 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_6 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_6 -%}
            {{ block.settings.mega_menu_submenu_linklist_6 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_7 -%}
          {%- if block.settings.mega_menu_submenu_title_header_7.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_7 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_7 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_7 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_7 -%}
            {{ block.settings.mega_menu_submenu_linklist_7 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_8 -%}
          {%- if block.settings.mega_menu_submenu_title_header_8.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_8 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_8 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_8 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_8 -%}
            {{ block.settings.mega_menu_submenu_linklist_8 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_9 -%}
          {%- if block.settings.mega_menu_submenu_title_header_9.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_9 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_9 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_9 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_9 -%}
            {{ block.settings.mega_menu_submenu_linklist_9 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_10 -%}
          {%- if block.settings.mega_menu_submenu_title_header_10.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_10 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_10 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_10 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_10 -%}
            {{ block.settings.mega_menu_submenu_linklist_10 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_11 -%}
          {%- if block.settings.mega_menu_submenu_title_header_11.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_11 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_11 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_11 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_11 -%}
            {{ block.settings.mega_menu_submenu_linklist_11 | append: ',' }}
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.mega_menu_submenu_title_12 -%}
          {%- if block.settings.mega_menu_submenu_title_header_12.size == 0 -%}
            {{ block.settings.mega_menu_submenu_title_12 | append: ':' }}
          {%- else -%}
            {{ block.settings.mega_menu_submenu_title_12 | append: '^' }}
            {{ block.settings.mega_menu_submenu_title_header_12 | append: ':' }}
          {%- endif -%}
          {%- if block.settings.mega_menu_submenu_linklist_12 -%}
            {{ block.settings.mega_menu_submenu_linklist_12 | append: ',' }}
          {%- endif -%}
        {%- endif -%}
      {%- endcapture -%}

      {% assign submenus = submenu_items | split: "," %}

      {%- if block.settings.push_1_image -%}
        {%- assign push_image_count = push_image_count | plus: 1 -%}
      {%- endif -%}

      {%- if block.settings.push_2_image -%}
        {%- assign push_image_count = push_image_count | plus: 1 -%}
      {%- endif -%}

      {%- assign should_space_start = false -%}

      {%- if push_image_count == 0 and link.links.size <= 3 -%}
        {%- assign should_space_start = true -%}
      {%- endif -%}

      {%- if push_image_count == 1 and link.links.size == 1 -%}
        {%- assign should_space_start = true -%}
      {%- endif -%}

      {%- if push_image_count == 2 and link.links.size == 1 -%}
        {%- assign should_space_start = true -%}
      {%- endif -%} 

      <div class="MegaMenu {% if push_image_count != 0 and link.links.size == 0 %}MegaMenu--spacingCenter{% elsif should_space_start %}MegaMenu--spacingStart{% endif %} {% if push_image_count == 0 and link.links.size > 4 %}MegaMenu--grid{% endif %}" aria-hidden="true" {{ block.shopify_attributes }}>
        <div class="MegaMenu__Inner"> 
          
          <div class="MegaMenu__Item MegaMenu__Item--fit MegaMenu__Sidebar">
            {%- if block.settings.navigation_mega_menu_title.size > 0 -%}
              <span class="MegaMenu__Title Heading u-h6">{{ block.settings.navigation_mega_menu_title | title }}</span>
            {%- else -%}
              <span class="MegaMenu__Title Heading u-h6">{{ block.settings.navigation_mega_menu | title }}</span>
            {% endif -%}
            {%- if submenus.size > 0 -%}
              <ul class="Linklist">
                {%- for item in submenus -%}
                  {% assign item_count = item_count | plus: 1 %}
                  {%- if item.size > 0 -%}
                    {%- assign menu_array = item | split: ':' -%}
                    {%- assign menu_handle = menu_array[1] | strip -%}
                    {% if menu_array[0].size > 1 %}
                      {%- if menu_array[0] contains '^' -%}
                        {%- assign title = menu_array[0] | split: '^' -%}
                        {%- assign title = title[0] -%}
                      {%- else -%}
                        {%- assign title = menu_array[0] -%}
                      {%- endif -%}
                    {% else %}
                      {%- assign title = linklists[menu_handle].links[0].title -%}
                    {% endif %}
                    {%- assign menu_handle = menu_array[1] | strip -%}
                    {%- if title.size > 0 -%}
                      <li class="Linklist__Item">
                        {% if linklists[menu_handle].links[0].url.size > 1 %}
                          {%- if title contains "Sale" -%}
                            <li class="Linklist__Item">
                              <a href="{{ linklists[menu_handle].links[0].url }}" class="Link" style="color: #ff7065">{{ title | escape }}</a>
                            </li>
                          {%- elsif title contains "DIY Kits" -%}
                            <li class="Linklist__Item">
                              <a href="{{ linklists[menu_handle].links[0].url }}" class="Link">{{ title | escape }}</a>
                            </li>
                          {%- else -%}
                            <a href="{{linklists[menu_handle].links[0].url}}" id="{{ menu_handle }}-menuID" onmouseover="swapDetailNav(this, {{count}}); return false;" class="Link">{{ title | escape }}</a>
                          {%- endif -%}
                        {% else %}
                          <a id="{{ menu_handle }}-menuID" onmouseover="swapDetailNav(this, {{count}}); return false;" class="Link">{{ title | escape }}</a>
                        {% endif %}
                      </li>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <!-- DETAIL_NAV -->

          <div id="detail_nav_container_{{count}}" class="mm_container detail_nav MegaMenu__Item"></div>

          {%- for item in submenus -%}
            {%- if item.size > 0 -%}
              {%- assign mega_menu_array = item | split: ':' -%}
              {%- assign menu_handle = mega_menu_array[1] | strip -%}
              {% if mega_menu_array[0].size > 1 %}
                {%- if mega_menu_array[0] contains '^' -%}
                  {%- assign title_pair = mega_menu_array[0] | split: '^' -%}
                  {%- assign long_title = title_pair[1] -%}
                {%- else -%}
                  {%- assign long_title = mega_menu_array[0] -%}
                {%- endif -%}
              {% else %}
                {%- assign long_title = linklists[menu_handle].links[0].title -%}
              {% endif %}
              
                <div id="{{menu_handle}}-menuHandle" class="detail_nav MegaMenu__Item hide_detail_nav detail_menu_{{count}}">
                  <div style="margin-bottom: 20px">
                    {% if linklists[menu_handle].links[0].url.size > 1 %}
                      <span class="DetailLinkHeader MegaMenu__SubTitle Heading u-h6">
                          <a href="{{linklists[menu_handle].links[0].url}}">
                            {{ long_title }}
                          </a>
                        </span>
                    {% else %}
                      <span class="DetailLinkHeader MegaMenu__SubTitle Heading u-h6">{{ long_title }}</span>
                    {% endif %}
                  </div>
                  {%- for detail_link in linklists[menu_handle].links -%}
                  <div class="detail_nav_links">
                    {%- for sub_link in detail_link.links -%}
                      <div class="MegaMenu__Item MegaMenu__Item--fit">
                        {% if sub_link.url.size > 1 %}
                          <span class="MegaMenu__Title Heading Text--subdued u-h8">
                            <a href="{{sub_link.url}}">{{ sub_link.title | title }}</a>
                          </span>
                        {% else %}
                          <span class="MegaMenu__Title Heading Text--subdued u-h8">{{ sub_link.title | title }}</span>
                        {% endif %}
                        {%- if sub_link.links != blank -%}
                          <ul class="Linklist">
                          {%- for sub_sub_link in sub_link.links -%}
                            <li class="Linklist__Item">
                            <a href="{{ sub_sub_link.url }}" class="Link">{{ sub_sub_link.title | escape }}</a>
                            </li>
                          {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </div>
                    {%- endfor -%}
                  </div>
                  {%- endfor -%}
                </div>
            {%- endif -%}
          {%- endfor -%}

          <!-- END DETAIL_NAV -->

          <div class="MegaMenu__PushWrapper">

            <div style="margin: 20px 0">
              <div class="MegaMenu__Title Heading u-h6">{{block.settings.push_section_heading}}</div>
            </div>

            {%- if push_image_count > 0 -%}
              <div class="MegaMenu__Item MegaMenu__Images">
              {%- if block.settings.push_1_image -%}
                <div class="MegaMenu__Push {% if push_image_count == 2 %}MegaMenu__Push--shrink{% endif %}">

                  {%- if block.settings.push_1_url != blank -%}
                    <a class="MegaMenu__PushLink" href="{{ block.settings.push_1_url }}">
                  {%- endif -%}

                  {%- assign max_width = 370 | at_most: block.settings.push_1_image.width -%}

    {%- if block.settings.push_1_heading != blank -%}
                    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_1_heading | escape }}</p>
                  {%- endif -%}

                  {%- if block.settings.push_1_subheading != blank -%}
                    <p class="MegaMenu__PushSubHeading Heading Text--subdued u-h7">{{ block.settings.push_1_subheading | escape }}</p>
                  {%- endif -%}

                  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_1_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_1_image.aspect_ratio }}">

                    <img class="Image--lazyLoad Image--fadeIn"
                          data-src="{{ block.settings.push_1_image | img_url: '370x230', scale: 2 }}"
                          alt="{{ block.settings.push_1_image.alt | escape }}">

                    <span class="Image__Loader"></span>
                  </div>
                  {%- if block.settings.push_1_url != blank -%}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if block.settings.push_2_image -%}
                <div class="MegaMenu__Push {% if push_image_count == 2 %}MegaMenu__Push--shrink{% endif %}">
                  {%- if block.settings.push_2_url != blank -%}
                    <a class="MegaMenu__PushLink" href="{{ block.settings.push_2_url }}">
                  {%- endif -%}

                  {%- if block.settings.push_2_heading != blank -%}
                    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_2_heading | escape }}</p>
                  {%- endif -%}

                  {%- if block.settings.push_2_subheading != blank -%}
                    <p class="MegaMenu__PushSubHeading Heading Text--subdued u-h7">{{ block.settings.push_2_subheading | escape }}</p>
                  {%- endif -%}

                  {%- assign max_width = 370 | at_most: block.settings.push_2_image.width -%}

                  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_2_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_2_image.aspect_ratio }}">
                    <img class="Image--lazyLoad Image--fadeIn"
                          data-src="{{ block.settings.push_2_image | img_url: '370x230', scale: 2 }}"
                          alt="{{ block.settings.push_2_image.alt | escape }}">

                    <span class="Image__Loader"></span>
                  </div>

                  {%- if block.settings.push_2_url != blank -%}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- elsif link.links != blank -%}
    <div class="DropdownMenu" aria-hidden="true">
      <ul class="Linklist">
        {%- for sub_link in link.links -%}
          <li class="Linklist__Item" {% if sub_link.links != blank %}aria-haspopup="true"{% endif %}>
            <a href="{{ sub_link.url }}" class="Link Link--secondary">{{ sub_link.title | escape }} {% if sub_link.links != blank %}{% render 'icon' with 'select-arrow-right' %}{% endif %}</a>

            {%- if sub_link.links != blank -%}
              <div class="DropdownMenu" aria-hidden="true">
                <ul class="Linklist">
                  {%- for sub_sub_link in sub_link.links -%}
                    <li class="Linklist__Item">
                      <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<li class="HorizontalList__Item {% if link.links == blank and link.active %}is-active{% endif %}" {% if menu_item_dropdown != blank %}aria-haspopup="true"{% endif %}>
  {% if menu_item_dropdown.size > 0 %}
    <a class="Header_Link Heading u-h6">
      {{- link.title | escape -}}
    </a>
    {{- menu_item_dropdown -}}
  {% else %}
    <a href="{{link.url}}" class="Header_Link Heading u-h6">
      {{- link.title | escape -}}
    </a>
  {% endif %}
</li>
