<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":16852051,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":false,"r":false,"s":null,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[{"id":16852242,"a":"Pre-Order Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Ships 8/18/21","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40328509259930","o":false,"handle":"pre-order-now-test-product","p":"6871458742426","y":null,"q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":"Ships 8/18/21","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":16852241,"a":"Pre-Order Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Ships 8/18/21","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40328509227162","o":false,"handle":"pre-order-now-test-product","p":"6871458742426","y":null,"q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":"Ships 8/18/21","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":16852238,"a":"Pre-Order Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Ships 8/18/21","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40328509194394","o":false,"handle":"pre-order-now-test-product","p":"6871458742426","y":"https://cdn.shopify.com/s/files/1/0411/8246/2106/products/2C7A3351_cb700544-9cfa-4d01-990e-84baac733949.jpg?v=1626159656","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":"Ships 8/18/21","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>