<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom-checkout.scss.css' | asset_url }}">
    
<!-- ATTENTIVE SMS CHECKOUT INTEGRATION -->
<!-- ADDED BY WOODENWICK/ALAN WATSON 2/25/2021 -->
<script src="https://cdn.attn.tv/checkout/checkout.js" defer></script>
<script src="https://cdn.attn.tv/wwc/dtag.js"></script>

<style type="text/css">
.div_container_notice{margin:9px;font-size:12px;}
    .section__content.section__content__attentive {
		font-family: "Avenir book";
        border-radius: 0px;
        background-color: #ffffff !important;
        border: none !important;
        /* padding: 12px; */
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px !important;
    }
    .section__content.section__content__attentive .input-checkbox {
        background: #fff;
    }
    .section__footer__attentive {
		font-size: 9px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: .05em;
		text-align: left;
		color: #737373;
		padding-top: 5px;
}
    .section__footer__attentive a {
        color: #000000;
        text-decoration: underline;
    }
    .section__footer__attentive b {
        font-weight: bold;
    }
    .checkbox__label.checkbox__label__attentive {
        cursor: auto;
        margin-left: 0.75em;
    }
    .checkbox__label__attentive__header {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: .05em;
        text-align: left;
        color: #333333;
    }
    .checkbox__label__attentive__subheader {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: .05em;
        text-align: left;
        color: #737373;
        padding-top: 0px;
    }
    .checkbox-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: baseline;
    }
</style>
<!-- /ATTENTIVE SMS CHECKOUT INTEGRATION -->
<!-- /ADDED BY WOODENWICK/ALAN WATSON 2/25/2021 -->


    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  
  {% render 'shogun-head' %}
  {% include "loyaltylion" %}
<script>lion.configure({ checkout: true })</script>
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
            
            
<!-- ATTENTIVE SMS CHECKOUT INTEGRATION -->
<!-- ADDED BY WOODENWICK/ALAN WATSON 2/25/2021 -->
            <div id="attentiveOptIn" class="fieldset-description" data-buyer-accepts-marketing-attentive="" aria-label="Phone Sign Up">
                <div class="section__content section__content__attentive">
                    <div class="checkbox-wrapper">
                        <div class="checkbox__input">
                            <input name="attributes[buyer_accepts_marketing_attentive]" type="hidden" value="0">
                            <input class="input-checkbox" data-backup="buyer_accepts_marketing" type="checkbox" value="1" name="attributes[buyer_accepts_marketing_attentive]" id="checkout_buyer_accepts_marketing_attentive" aria-labelledby="headers" tabindex="0" focusable="true">
                        </div>
                        <div class="checkbox__label checkbox__label__attentive">
                            <span id="headers" tabindex="0" focusable="true">
                                <div class="checkbox__label__attentive__subheader">Sign-up to get exclusive offers + update texts from The Wooden Wick Co.</div>
                            </span>
                            <div class="section__footer__attentive">By checking this box, you agree to receive recurring automated promotional and personalized marketing text messages <b>(e.g. cart reminders)</b> from Wooden Wick at the cell number used when signing up. Consent is not a condition of any purchase. <b>Reply HELP for help and STOP to cancel.</b> Msg frequency varies. Msg & data rates may apply. View <a href="http://attn.tv/wwc/terms.html" target="_blank" rel="noopener noreferrer" aria-label="Wooden Wick Terms Link" >Terms</a> &amp; <a href="https://attnl.tv/p/1jR" target="_blank" rel="noopener noreferrer" aria-label="Wooden Wick Privacy Link">Privacy</a>.</div>
                        </div>
                    </div>
                </div>
            </div>
<!-- /ATTENTIVE SMS CHECKOUT INTEGRATION -->
<!-- /ADDED BY WOODENWICK/ALAN WATSON 2/25/2021 -->
            
            
<!-- TrustBox script -->
<!-- ADDED BY WOODENWICK/ALAN WATSON 5/24/2021 -->           
			<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
            
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5ce8411add22f400017a8687" data-style-height="150px" data-style-width="100%" data-theme="light" data-text-color="#1C1B1B" style="margin-top: 10px; margin-left: 0px; max-width: 170px;">
              <a href="https://www.trustpilot.com/review/woodenwick.com" target="_blank" rel="noopener">Trustpilot</a>
            </div>
<!-- End TrustBox widget -->
<!-- ADDED BY WOODENWICK/ALAN WATSON 5/24/2021 -->
            
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>

<div data-rebuy-id="2106"></div>
<script src="https://rebuyengine.com/js/rebuy?shop=thewoodenwickco.myshopify.com"></script>

<!-- REBUY CHECKOUT STYLING -->
<!-- ADDED BY WOODENWICK/ALAN WATSON 3/1/2021 -->
<style>

.lion-checkout-redemption__header__help-text{
  display:none !important;
}

.sidebar__content{padding-bottom:140px;}
  #rebuy-widget-2106 .rebuy-product-info .rebuy-product-title {
  	font-family: "LucidaGrandeBold", sans-serif !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em !important;
  }
  
  .rebuy-button {
   font-family: "LucidaGrandeBold", sans-serif !important;
    font-size: 12px !important;
    text-transform: lowercase !important;
    letter-spacing: 0.05em !important;
}
  
  .super-title {
    font-family: "LucidaGrandeBold", sans-serif !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em !important;
  }
  
	#rebuy-widget-2106 .super-title {
		text-align: left !important;
		margin-bottom: 20px;
		color: #777777;
}
.btn_redeem{
  width:100%; 
  text-align:right;
  margin-top:15px;
}
.btn_redeem button{
  right:0px;
}
.lion-checkout-redemption .field__input-btn-wrapper input{
  display:none !important;
  }
.lion-checkout-redemption .field__input-btn-wrapper .field__input-btn{
  display:none !important;
  }
</style>
<!-- /REBUY CHECKOUT STYLING -->
<!-- /ADDED BY WOODENWICK/ALAN WATSON 3/1/2021 -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


/// CUSTOM SCRIPT FOR tasks (Shipping msg + remove button + redeem points)
function update_msg_shipping(){
  var c= $('.section.section--shipping-method').find('.section__content').html();
var msg="<div class='div_container_notice'><span class='small-text' >Please note the delivery timeframes listed below are estimates based ";
msg+="on your shipping location and are note guaranteed transit ";
 msg+="times. Transit times are not inclusive of processing times.</span></div>";
 $('.section.section--shipping-method').find('.section__content').html(c+msg);
}

$('.field__input-btn-wrapper').ready(function() {
  var con='<a href="/pages/perks-account-home" target="_blank"><div class="btn_redeem" ><button type="button" class="btn"><span>Redeem Points</span></button></div></a>';
  setTimeout(() => { $('.lion-checkout-redemption').find('.field__input-btn-wrapper').html(con); }, 500);
  setTimeout(() => { $('.lion-checkout-redemption').find('.field__input-btn-wrapper').html(con); }, 1000);
  setTimeout(() => { $('.lion-checkout-redemption').find('.field__input-btn-wrapper').html(con); }, 2000);
  setTimeout(() => { $('.lion-checkout-redemption').find('.field__input-btn-wrapper').html(con); }, 3000);
  
});

function update_btns_remove(){
  var j=0;
    $( ".product__description" ).each(function() {
    var anc= $( this ).html();
    if(!anc.includes('class="product__remove"')){
     var product_id=$( this ).parent().attr("data-product-id");
    var variant_id=$( this ).parent().attr("data-variant-id");
    var btn_rmv='<button class="product__remove" data-index="'+j+'" data-product-id="'+product_id+'" data-variant-id="'+variant_id+'">(Remove)</button>';
    $( this ).html(anc+btn_rmv); 
    }
     j++; 
});
if($('.product__description').length==1) $('.product__remove').remove();
}

$('.sidebar__content').bind('DOMSubtreeModified', function(){
 setTimeout(() => { update_btns_remove();}, 3000);
 setTimeout(() => { update_btns_remove();}, 4000);
    
});


// keep the shipping msg 
$('[data-step="shipping_method"]').bind('DOMSubtreeModified', function(){
  if(!$('.section.section--shipping-method').find('.section__content').html().includes("Please note the delivery timeframes")){
   // update_msg_shipping()
  }else{
     console.log(".");
  }

});

$(document).ready(function() {
  setTimeout(() => { update_btns_remove();}, 3000);
   
 });
</script>


{% if customer == nil  %}
<script>
$('.order-summary__section--discount').ready(function() {
  setTimeout(() => { 
    var old_cont=$('.order-summary__section--discount').html();
   var add_cont='<a href="/pages/perks" target="_blank"><div class="btn_redeem" ><button type="button" class="btn"><span>Redeem Points</span></button></div></a>';
    $('.order-summary__section--discount').html(add_cont+old_cont);
   }, 1000);

});
</script>
<style>
.btn_redeem{
  margin-bottom:15px;
}
</style>
{%endif%}