{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": true,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": false,
  "dragThreshold": 4,
  "groupCells": 4,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<div data-section-id="{{ section.id }}">
	<div class="border_divider_2 desktop">
		<div style="max-width:100%;" class="flex border_divider_text atsackers button_style_default pt9">{{ section.settings.heading }}</div>
	</div>

  <section class="Section Section--spacingNormal" >
      <div class="CollectionsSlider collection-group-container" data-flickity-config='{{ flickity_options }}'>
        {%- for block in section.blocks -%}
            <a href="{{block.settings.collection.url}}" class="CollectionsSlider__Cell">
                <div class="collection-group-item">
                <div class="slider_pic">
                    <img src="{{ block.settings.collection_image  | img_url: '290x' }}" />
                </div>
                    {%- if block.settings.collection_subtitle != blank -%}
                    <span class="CollectionGroupItem__Subtitle Heading">{{ block.settings.collection_subtitle }}</span>
                    {%- endif -%}
                    <span class="CollectionGroupItem__Title Heading">{{ block.settings.collection_title }}</span>
                </div>
            </a>
        {%- endfor -%}
      </div>
  </section>
</div>

<style>

.collection-group-container a .slider_pic {
    padding-bottom: 100%;
}

.Section {
    padding-bottom: 0;
}

.CollectionGroupItem__Title {
    letter-spacing: .2em;
    font-family: Sackers Gothic Std;
    text-align: center;
        font-size: 12px;
    text-transform: lowercase;
}

</style>
{% schema %}
{
  "name": "Slider Wicks",
  "settings": [
  	{
	  "type": "header",
	  "content": "Collection Group Settings"
	},
	{
	  "type": "text",
	  "id": "heading",
	  "label": "Heading",
	  "default": "SHOP MAKER SUPPLIES"
	}
	],
  "blocks": [
    {
      "type": "collection_group",
      "name": "Collection",
      "settings": [
		{
		  "type": "collection",
		  "id": "collection",
		  "label": "Collection"
		},
		{
		  "type": "image_picker",
		  "id": "collection_image",
		  "label": "Image",
		  "info": "290px x 350px .jpg recommended"
		},
		{
		  "type": "text",
		  "id": "collection_subtitle",
		  "label": "Sub-Title"
		},
		{
		  "type": "text",
		  "id": "collection_title",
		  "label": "Title",
		  "default": "Title"
		}
      ]
    }
  ]
}
{% endschema %}