// @DO: custom styles for checkout.liquid

@font-face {
  font-family: "LucidaGrande";
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.05em;
  font-display: fallback;
  src: url("//cdn.shopify.com/s/files/1/0411/8246/2106/t/69/assets/LucidaGrande.ttf?v=4650040452452234137");
}

@font-face {
  font-family: "LucidaGrandeBold";
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.05em;
  font-display: fallback;
  src: url("//cdn.shopify.com/s/files/1/0411/8246/2106/t/69/assets/LucidaGrandeBold.ttf?v=3007784598427451970");
}

button.btn {
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid #1c1b1b;
  color: #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: "LucidaGrandeBold", sans-serif;
  background-color: #1c1b1b;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: right center;
    z-index: -1;
  }

  &:hover {
    background: transparent;
    color: #1C1B1B;
  }
}

.floating-labels .field--show-floating-label .field__input {
  padding-left: 11px;
}

.wrap {
  min-width: 72%;
}

.main {
  font-family: "LucidaGrande", sans-serif;
  letter-spacing: 0.05em;
  width: 50% !important;

  .breadcrumb {

    .breadcrumb__text {
      font-size: 11px !important;
      color: #777777;
    }

    .breadcrumb__item--completed,
    .breadcrumb__item--current,
    .breadcrumb__link {
      font-size: 11px !important;
    }

    .breadcrumb__item--completed,
    .breadcrumb__item--current {
      font-family: "LucidaGrande";
    }

  }

  .logo img {
    max-width: 75%;
  }

  label,
  .step__footer__previous-link-content {
    font-size: 11px;
    letter-spacing: .05em;
  }

  p.layout-flex__item {
    font-size: 12px;
    // padding: 0;
  }

  h2.section__title {
    font-family: LucidaGrandeBold,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #1c1b1b;
    letter-spacing: .05em;
  }

  .field__input {
    letter-spacing: 0.05em;
    font-size: 11px;
    border-radius: 0;
    padding-top: 1em;

    ::placeholder {
      color: #777 !important;
      margin-top: 25px;
    }
  }

  .field__caret {
    border: 0 !important;
    display: block;
    width: 10px;
    height: 43%;
    pointer-events: none;
    position: absolute;
    top: 65%;
    right: 9px;
    background-image: url('https://cdn.shopify.com/s/files/1/0411/8246/2106/files/down-arrow.svg?v=1609804276');
    background-repeat: no-repeat;

    .icon-svg {
      display: none;
    }
  }

  .content-box {
    border-radius: 0;
  }

  .review-block__label {
    flex: 0 1 6em;
    font-size: 11px;
    letter-spacing: .05em;
    color: #777777;
  }

}

.sidebar {
  font-family: "LucidaGrande", sans-serif;
  letter-spacing: 0.05em;
  width: 50% !important;

  .product-thumbnail__quantity {
    padding: 0.085em 0 0 0.1em;
  }

  .product__description__name {
    font-family: "LucidaGrandeBold", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .product__description__variant {
    color: #777;
    font-size: 13px;
    letter-spacing: 0.05em;
  }

  button[disabled] {
    opacity: 1;
  }

  .field__input {
    letter-spacing: 0.05em;
    font-size: 12px;
    border-radius: 0;
    padding-top: 1em;

    ::placeholder {
      color: #777 !important;
    }
  }

  .order-summary__small-text {
    font-size: 11px;
  }

  .payment-due__currency {
    position: relative;
    bottom: -2px;
    margin-right: 4px;
  }

  .total-line__price,
  .payment-due__price,
  .payment-due-label__total {
    font-family: "LucidaGrandeBold";
    font-size: 12px;
    letter-spacing: 0.05em;
  }

}

@media (max-width: 1007px) {
  .main,
  .sidebar {
    width: 100% !important;
  }
}



/* WW - Alan Watson - 6/30/2021  */
/* Lucida Font Update Overrides  */

//Left align logo on desktop checkout
@media (min-width: 641px) {
.main .logo img {
    margin-left: -100px !important;
}
}

//Checkout breadcrumbs align left
.breadcrumb--center {
    justify-content: left!important;
}

//Contact Information, Email, Address
.review-block__content {
    font-size: 11px;
    letter-spacing: .05em;
    color: #777777;
}

.link, a {
    color: #1c1b1b;
    font-size: 11px;
  	color: #777777;
    letter-spacing: .05em;
}

//Logged in contact information message
p.logged-in-customer-information__paragraph {
    font-size: 11px;
}

//Shipping Method Error
.notice__content {
    font-size: 11px;
    color: #777777;
    letter-spacing: .05em;
}

//Billing Address instructions
p.section__text {
    font-size: 11px;
    letter-spacing: .05em;
}

//Line Item Price
span.order-summary__emphasis.skeleton-while-loading {
    font-size: 11px;
    color: #1c1b1b;
}

//Input box text
.floating-labels .main .field__label {
    font-size: 11px;
    color: #777777;
}

//Subtotal, Shipping, Taxes
th.total-line__name {
    font-size: 11px;
    letter-spacing: .05em;
}

//Discount code input text
input#checkout_reduction_code {
    font-size: 11px;
}

//Discount code button
.js .sidebar .btn--disabled {
    /* cursor: default; */
    background: #1c1b1b !important;
    color: #ffffff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

//Footer copyright
p.copyright-text {
    font-size: 11px;
    letter-spacing: .05em;
    color: #777777;
}

//Discount applies for bulk items
span.reduction-code__text.skeleton-while-loading--left {
    font-size: 11px;
  	color: #ff7065;
}

//Bulk quantity discount override
.sidebar .icon-svg--color-adaptive-light {
    color: #ff7065 !important; 
    fill: currentColor;
}

//Checkout missing field warnings
.field--error .field__message--error {
    display: block;
    font-size: 11px;
}

//Mobile checkout, hide the extra spce under the navigation links
.sidebar__content {
    padding-bottom: 0px !important;
}

// Attentive SMS
// Attentive SMS

.div_container_notice{margin:9px;font-size:12px;}
    .section__content.section__content__attentive {
		font-family: "LucidaGrande";
        border-radius: 0px;
        background-color: #ffffff !important;
        border: none !important;
        /* padding: 12px; */
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px !important;
    }
    .section__content.section__content__attentive .input-checkbox {
        background: #fff;
    }
    .section__footer__attentive {
      font-size: 10px !important;
      font-family: 'LucidaGrande' !important;
      letter-spacing: .05em !important;
      color: #777777 !important;
}
    .section__footer__attentive a {
        color: #1c1b1b;
        text-decoration: underline;
    }
    .section__footer__attentive b {
        font-weight: bold;
    }
    .checkbox__label.checkbox__label__attentive {
        cursor: auto;
        margin-left: 0.75em;
    }
    .checkbox__label__attentive__header {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: .05em;
        text-align: left;
        color: #333333;
    }
    .checkbox__label__attentive__subheader {
        font-family: 'LucidaGrandeBold';
        font-size: 11px !important;
      	text-transform: uppercase !important;
        line-height: 1.2;
        letter-spacing: 0.05em !important;
        text-align: left;
        color: #777777;
        padding-top: 0;
    }
    .checkbox-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: baseline;
    }



//ReBuy Checkout Widget
//Rebuy Checkout Widget

//ReBuy Title Override 
#rebuy-widget-2106 .super-title {
    text-align: left !important;
    margin-bottom: 20px;
    color: #1c1b1b !important;
    font-size: 15px !important;
    font-family: 'LucidaGrandeBold' !important;
    text-transform: uppercase !important;
    letter-spacing: .05em !important;
}

//Product Title
a.rebuy-product-title {
    text-transform: uppercase!important;
    font-family: LucidaGrandeBold!important;
    font-size: 12px!important;
    letter-spacing: .05em!important;
}

//Add to cart button
#rebuy-widget-2106 .rebuy-button {
    color: #ffffff !important;
    background: #000000 !important;
    font-size: 12px !important;
    font-family: 'LucidaGrandeBold' !important;
    text-transform: uppercase !important;
    letter-spacing: .05em !important;
    border-radius: 0px;
}

//Price
span.rebuy-money {
    font-size: 11px;
  	color: #777777 !important;
}



//Loyalty Lion
//Loyalty Lion

//Loyalty Lion Header - Checkout slider for points
td.lion-checkout-redemption__header__title {
    font-size: 15px;
    font-family: 'LucidaGrandeBold';
    text-transform: uppercase;
    letter-spacing: .05em;
}

//Loyalty Lion help text below title
span.lion-checkout-redemption__header__help-text {
    font-size: 11px;
    letter-spacing: .05em;
    color: #777777;
}

//Points
lionpoints {
    font-size: 12px;
    font-family: 'LucidaGrandeBold';
    letter-spacing: .05em;
    color: #1c1b1b;
}

td.lion-checkout-redemption__header__points {
    font-size: 12px;
    font-family: 'LucidaGrandeBold';
    text-transform: uppercase;
}




