/* DO Custom Sytle Overrides - Product
   Includes overrides for product pages.
*/

body.template-product {
  #ProductMeta__TitleContainer {
    display: flex;
    justify-content: space-between;

    .ProductMeta__Title {
      max-width: 95%;
      font-size: 15px;
      text-transform: uppercase;
    }

    .ProductMeta__TitleContainer--right {
      padding-top: 0.35em;
      margin-bottom: 15px;

      .ProductMetaTitle__Icon {
        max-width: 15px;
        margin: -1px 0 -1px 0;
      }

      .ProductMeta__WishlistBtn {
        padding-top: 0.1em;
        padding-right: 0.4em;
        max-height: 15px;
      }
      .ProductMeta__ShareItem {
        margin: 1px 6px;
        .ProductMetaTitle__PinItIcon {
          max-width: 27px;
          width: 100%;
        }
      }
    }
  }

  .Product--GalleryRow {
    .Mobile-PDP-Thumbnail {
      display: none;
    }
  }

  @media screen and (max-width: 640px) {
    .Product--GalleryRow {
      .Mobile-PDP-Thumbnail {
        display: inline;
      }
      .Desktop-PDP-Thumbnail {
        display: none;
      }
    }
  }

  select#Quantity {
    letter-spacing: 0.2em;
  }
}

.type-selector {
  z-index: 300 !important;
}

@media screen and (max-width: 450px) {
  .u-h6, 
  .Rte h6 {
    font-size: 13px !important;
  }
}

@media screen and (min-width: 1290px) {
  .type-selector {
    display: flex;
  }

  .popover-with-scrollbar {
    margin: 35px 84px 35px 0;
  }

  #wick-type-select-popup {
    width: 110% !important;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 345px;

    .Popover__Value {
      padding: 10px 0 10px 50px;
      line-height: 0;

      &:first-child {
        padding-top: 0;
        margin-top: -0.5em;
      }
  
      &:last-child {
        padding-bottom: 0;
      }

    }
  
    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-track {
      border: 1px solid rgb(221, 221, 221);;
      border-radius: 9px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(221, 221, 221);
      border-radius: 20px;
      border: 3px solid transparent; 
    }

  }

  #wick-type-select-popup .Popover__Value:hover .Popover__Chevron {
    visibility: visible;
  }

}

@media (min-width: 1290px) and (max-width: 1375px) {

  .Popover__Value.wick-type {
    font-size: 0.85vw !important;
  }

}

.Popover__Chevron {
  visibility: hidden;
  width: 20px;
  height: auto;
  position: relative;
  left: -20px;
  top: 6.5px;
  transform: rotate(180deg);
}

@media screen and (max-width: 1290px) {
  #wick-type-select-popup .Popover__Value {
    margin-left: -10px;
  }
}

@media screen and (min-width: 1290px) {
  #wick-type-select-popup .Popover__Value:hover .Popover__Chevron {
    visibility: visible;
  }
}

// Temporarily hide quickview from PDP
#shopify-section-product-recommendations .ProductItem__Quickview,
#shopify-section-recently-viewed-products .ProductItem__Quickview {
  display: none;
}





/* WW - Alan Watson - 6/30/2021  */
/* Lucida Front Update Overrides  */


//Product Page - Main product title
.ProductMeta__TitleContainer--left {
    min-width: 95%;
}

//"You may also like" and "Recently Viewed" headings
h3.SectionHeader__Heading.Heading.u-h3 {
    font-size: 22px;
}

//Loyalty Lion product page points
div#data-lion-get-price {
    text-align: center!important;
    font-weight: normal !important;
    font-size: 11px!important;
  	color: #777777 !important;
}

//Loyalty Lion Star Icon
span.material-icons {
    color: #ff7065!important;
}

//Made Better Globe icon
img.img_logo_betterff {
    display: none;
}

//More details override, add left margin to align with footer container
//Only for desktop, need to write mobile rule
//.div_more_details {
//    margin-left: 80px;
//}