{% section 'product-template' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}

{% assign tier_data = shop.metafields.discount-calc.discount-tiers | json %}

{%- if product.type == 'lids' or product.type == 'bottles' or product.type == 'reeds' -%}
  {%- assign discount_selector = 'vessels_lids_bottles_reeds' -%}
{%- elsif variant.id == "35792567238810" or variant.id == "35792567238810" -%}
  {%- assign discount_selector = '35792567238810_35792567369882' -%}
{%- elsif product.tags contains 'ready-made-custom-wick-t1' -%}
  {%- assign discount_selector = 'ready_made_custom_wick_t1' -%}
{%- elsif product.tags contains 'ready-made-custom-wick-t2' -%}
  {%- assign discount_selector = 'ready_made_custom_wick_t2' -%}
{%- elsif product.type == 'packaging' -%}
  {%- assign discount_selector = 'packaging' -%}
{%- elsif variant.id == "35791309701274" or variant.id == "35791309602970" -%}
  {%- assign discount_selector = '35791309701274_35791309602970' -%}
{%- elsif product.type == 'scentables' -%}
  {%- assign discount_selector = 'scentables' -%}
{%- else -%}
  {%- assign discount_selector = 'none' -%}
{%- endif -%}

<script>
  var qty_selector;
  var qty;
  window.discount = 0;
  if (document.querySelector('div.QuantitySelector.QuantitySelector--large input')) {
    qty_selector = document.querySelector('div.QuantitySelector.QuantitySelector--large input');
  } else if (document.querySelector('#Quantity')) {
    qty_selector = document.querySelector('#Quantity');
  }
  var discountSelector =get_selector_from_metafield();// '{{discount_selector}}';
  qty_selector.addEventListener('change', function() {
    if (window.wickDiscountTag) {
      discountSelector = window.wickDiscountTag;
    }
    qty = qty_selector.value;
    var discount = getDiscountAmount(discountSelector, qty, '{{tier_data}}');
    window.discount = discount;
    updatePriceATC(qty, discount, window.currentClipPrice);
  })
</script>

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<div data-rebuy-id="2096" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
